.Search{
    border-radius: 10px;
    color: aliceblue;
    background: white;
}

.Name{
    border: 0px;
    align-items: center;
    background-color: white;
    color: black;
}

.Name:hover{
    align-self: center;
    background-color: blue;
    color: aliceblue;
}